*, *::after,*::before{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

main{
    height: 100%;
    width: 100%;
}
header{
    text-align:center;
    background-color: rgb(198, 220, 240);
}

h2  {
    display: flex;
    margin-top: 4rem;
}

.form-container form{
    display: flex;
    flex-direction:column;
    padding: 2rem;
    background-color: rgb(61, 119, 109);
    border-radius: 2rem;
    
}

.form-container{
    display: none;
}


#book-container{
    display: flex;
    gap:0.5rem;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    
    margin-top: 1rem;
    min-height: 50vh;


}

.book{
    /* background-color: rgb(214, 16, 16); */
    background-image: url('../Images/book_web.jpg');
    mask-border-repeat: none;
    width: 250px;
    height: 367px;
    box-shadow: 0 0 2px 2px gray;
    border-radius: 1rem;
    display: flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    align-items: center;
    padding:1rem;
    margin-top: 40px;
}

.book h2, h3, h4{
    padding-top: 12px;
}


.book-title{
  font-family: cursive;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
  color:rgb(159, 197, 159);

}
.book-author{
  color:white;

  font-size: 70%;
}


.toggle{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;

}

.form-container form input{
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 0.7rem;

}
#cancel{
  background:red;
  color:white;
}





